@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: lightblue;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: hotpink;
    
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 16px;
    text-align: center;
    color: mediumpurple;
    
  }

  h3 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: mediumpurple;
    
  }

  p {
    margin-bottom: 18px;
    
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: lavender;
    color: black;
    text-align: center;
  }

  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: lavender;
    color: black;
    text-align: center;
  }
 
  form {
    text-align: center;
}



input[type="submit"] {
  background-color: #ffcce6;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid hotpink;
  border-radius: 8px;
}




button {
  background-color: #ffcce6;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid hotpink;
  border-radius: 8px;
}
  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    color: mediumpurple;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

