<h1>Login to Start Talking About Dogs!</h1>
<form action='/login' method="POST">
<input type="text" name="username" placeholder="Username:">
<input type="text" name="password" placeholder="Password:">
<input type="submit" value="ðŸ¾ Woof ðŸ¾">
</form>

