<div class="container">
  <a href="https://lh3.googleusercontent.com/wHQAtSMoSc5gDBa4x3XZihqPhVxGJPEGVRothjkTIBgjuKDbkUCuyQGZZeTbtC-gRyHn62_DRWSUW5DMPOUzroZ873xmIfw_WI4JvTl8vhYMhG4bDXq_Ei1PLtaLNGJP2pvDn26D5A=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/wHQAtSMoSc5gDBa4x3XZihqPhVxGJPEGVRothjkTIBgjuKDbkUCuyQGZZeTbtC-gRyHn62_DRWSUW5DMPOUzroZ873xmIfw_WI4JvTl8vhYMhG4bDXq_Ei1PLtaLNGJP2pvDn26D5A=w600-h315-p-k" /> </a>
  <div class="col-md-8 col-md-offset-2">
    <h2>Did You See a Dog Today?</h2>

  

    

  </div>
</div>
